.student-info-warp {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
input{
  color: #000;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  width: 300px;
  padding: 15px;
  box-sizing: border-box;
  margin-bottom: 10px;
  box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.2), 0 1px 1px rgba(255, 255, 255, 0.2);
  -webkit-transition: box-shadow 0.5s ease;
  -moz-transition: box-shadow 0.5s ease;
  -o-transition: box-shadow 0.5s ease;
  -ms-transition: box-shadow 0.5s ease;
  transition: box-shadow 0.5s ease;
}

input:hover {
  box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.4), 0 1px 1px rgba(255, 255, 255, 0.2);
}
.sex-warp {
  text-align: left;
  margin-bottom: 10px;
}
.sex-warp span {
  margin-right: 15px;
}
.sex{
  width: 15px;
  border: none;
  box-shadow: none;
  margin: 0 5px;
}
.btn-warp{
  width: 300px;
  display: flex;
  justify-content: space-between;
}
.btn {
  width: 148px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  background-image: linear-gradient(top, #6eb6de, #4a77d4);
  background-image: -moz-linear-gradient(top, #6eb6de, #4a77d4);
  background-image: -ms-linear-gradient(top, #6eb6de, #4a77d4);
  background-image: -o-linear-gradient(top, #6eb6de, #4a77d4);
  background-image: -webkit-linear-gradient(top, #6eb6de, #4a77d4);
}
.btn:hover {
  filter: none;
  background-image: linear-gradient(top, #4a77d4, #4a77d4);
  background-image: -moz-linear-gradient(top, #4a77d4, #4a77d4);
  background-image: -ms-linear-gradient(top, #4a77d4, #4a77d4);
  background-image: -o-linear-gradient(top, #4a77d4, #4a77d4);
  background-image: -webkit-linear-gradient(top, #4a77d4, #4a77d4);
}
