@font-face {
    font-family: 'iconfont';
    /* project id 2390705 */
    src: url('//at.alicdn.com/t/font_2390705_g5n625av8yl.eot');
    src: url('//at.alicdn.com/t/font_2390705_g5n625av8yl.eot?#iefix') format('embedded-opentype'),
        url('//at.alicdn.com/t/font_2390705_g5n625av8yl.woff2') format('woff2'),
        url('//at.alicdn.com/t/font_2390705_g5n625av8yl.woff') format('woff'),
        url('//at.alicdn.com/t/font_2390705_g5n625av8yl.ttf') format('truetype'),
        url('//at.alicdn.com/t/font_2390705_g5n625av8yl.svg#iconfont') format('svg');
}

.iconfont {
    font-family: 'iconfont';
    font-style: normal;
}

.icon-date::before {
    content: '\e68b';
}

.icon-prev-month::before {
    content: '\e601';
}

.icon-next-month::before {
    content: '\e600';
}

.icon-prev-year::before {
    content: '\e602';
}

.icon-next-year::before {
    content: '\e859';
}