textarea {
  resize: none;
  border: 4px solid #000;
  width: 95%;
  height: 100px;
}

button {
  border: 0;
  margin: 20px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  padding: 15px 50px;
  border-radius: 10px;
  color: white;
  outline: none;
  background: #6c757d;
}

label {
  user-select: none;
  outline: none;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  color: #00b7ee;
}

button:hover {
  color: #fff;
  background-color: #5a6268;
}
ul,
li {
  list-style: none;
}

.submit-warp {
  width: 80%;
  /* height: 500px; */
  height: 500px;
  margin: 0 auto;
  border: 10px solid #000;
  text-align: center;
  overflow: hidden;
  padding: 15px;
  overflow-y: scroll;
}
.submit-warp::-webkit-scrollbar {
  width: 0;
}
.submit-item {
  position: relative;
  margin: 15px auto;
}
.submit-imgs,
.submit-blogs,
.submit-video {
  display: flex;
  height: 31px;
  margin-left: 5px;
}
.item-right,
.item-left {
  margin: 0 20px;
}
.submit-item input {
  position: absolute;
  left: -1000px;
  bottom: -1000px;
  visibility: hidden;
}

/*  */
.item-show {
  display: flex;
}
.item-show li {
  margin: 0 10px;
}
.show-warp {
  width: 130px;
  height: 130px;
  position: relative;
}
.show-img {
  width: 100%;
  height: 100%;
  background: #f1f6fd;
  display: flex;
  justify-content: center;
  align-items: center;
}
.show-img img {
  width: 100%;
  height: 100%;
  background-size: cover;
}
.show-img i {
  display: block;
  width: 66px;
  height: 69px;
  background-size: 100% 100%;
}
.show-warp-zip i {
  background: url("./assets/zip.png") center no-repeat;
}
.show-warp-video i {
  background: url("./assets/video.png") center no-repeat;
}
.show-mask {
  width: 100%;
  height: 28px;
  background: #f1f6fd;
  position: absolute;
  left: 0;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.show-line {
  width: 0;
  height: 6px;
  border-radius: 10px;
  background: #4f87e9;
  transition: all 0.3s;
}
.img-show-line,
.zip-show-line,
.video-show-line {
  width: 98%;
}

.close {
  width: 20px;
  height: 20px;
  background: red;
  position: absolute;
  right: -5px;
  top: -5px;
  border-radius: 50%;
  cursor: pointer;
}
.close::before {
  content: "";
  width: 15px;
  height: 1px;
  position: absolute;
  background: #fff;
  left: 50%;
  top: 50%;
  border-radius: 10px;
  transform: translate(-50%, -50%) rotate(45deg);
}
.close::after {
  content: "";
  width: 15px;
  height: 1px;
  position: absolute;
  background: #fff;
  left: 50%;
  top: 50%;
  border-radius: 10px;
  transform: translate(-50%, -50%) rotate(-45deg);
}
